body {
  font-family: "Poppins";
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
}

.btn-general {
  padding: 10px 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
}

.progress .progress-bar {
  background: $primary-color !important;
}

.section-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  color: $sub-text-color;
}

/**
* Animation
**/
.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}

.slide-enter-to {
  position: absolute;
  right: 0;
}

.slide-enter-from {
  position: absolute;
  right: -100%;
}

.slide-leave-to {
  position: absolute;
  left: -100%;
}

.slide-leave-from {
  position: absolute;
  left: 0;
}
